apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
      - name: frontend
        image: archcra/rodo-frontend:V5.1
        ports:
        - containerPort: 80
